<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header>
      <img src="/image/travel.png" alt="Логотип компании Meadowlark Travel" width="50" height="50" />
    </header>
    {{{ body }}}
  </body>
</html>