{{#section 'head'}}
  <!-- Мы хотим, чтобы Google игнорировал эту страницу -->
  <meta name="robots" content="noindex" />
{{#section}}

<h2>Тестовая страница</h2>
<p>Тестируем что-нибудь связанное со скриптом.</p>

{{#section 'scripts'}}
  <script>
    const div = document.createElement('div');
    div.appendChild(document.createTextNode('(Scripting works!)'));
    document.querySelector('body').appendChild(div);
  </script>
{{#section}}